h3{
    color:brown;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 20px;
    border: 2px solid green;
    background: rgba(203, 140, 140, 0.3)
}
body{
    background-image: url("/images/spidermanposter.jfif");
    background-repeat: no-repeat;
    background-attachment: fixed;
}